<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.babygirl.attendance">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2"
        >

        <activity
            android:name=".ui.dashboards.Prof_Dashboard"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_prof_dashboard"
            android:parentActivityName=".ui.SplashScreen">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.babygirl.attendance.ui.SplashScreen" />

        </activity>

        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.dashboards.AttendanceListStudent"
            android:label="@string/title_activity_attendance_list_student"
            android:parentActivityName=".ui.SplashScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.babygirl.attendance.ui.SplashScreen" />
        </activity>
        <activity android:name=".ui.Loading" />
        <activity android:name=".ui.AddCourse" />
        <activity android:name=".ui.dashboards.Student_Dashboard" />

        <activity android:name=".QR_Generator" />
        <activity
            android:name=".ui.ChooseRole"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TransitionPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>